@charset "uft-8";
@import url("./reset.css");
img{display:block; width:100%; height:auto;}
#wrap{height:100vh; position:relative; padding:0 20px;}
h1{padding:12px 0; text-align:center; font-size:20px;}
.playground{padding:20px 0;}
.playground>.piece_boards{
    margin-top:24px; display:flex; justify-content:center; gap:20px;
}
.playground>.piece_boards>.result{
    height:130px; width:150px; margin-top:-20px;
}
.playground>.piece_boards>.result>img{z-index:1000;}
.playground>.piece_boards>.players{
    height:100px; width:150px; position:relative; left:0; top:0;
    background:url("../images/pan.png") no-repeat center; background-size:100%;
}
.playground>.piece_boards>.players>div{height:40px; box-sizing:border-box; text-align:center;}
.playground>.piece_boards>.players>.pan>.blue{padding-top:6px;}
.playground>.piece_boards>.players>.pan>div>span{
    display:inline-block; width:30px; height:30px; margin:5px; border-radius:50%;
    box-shadow:0 3px 6px rgba(0,0,0,0.3);
}
.playground>.piece_boards>.players>.pan{
    width:150px; height:100px; position:absolute; left:0; top:0;
}
.playground>.piece_boards>.players>.pan>.blue>span{background:url("../images/blue.png") no-repeat center; background-size:30px 30px;}
.playground>.piece_boards>.players>.pan>.red>span{background:url("../images/red.png") no-repeat center; background-size:30px 30px;}
.ui-draggable-dragging{
    transform:scale(1.2); box-shadow:0 5px 15px rgba(0,0,0,0.5); z-index:100 !important;
}
.randombox{
    position:fixed; left:0; top:0; width:100%; height:100vh; background:rgba(0,0,0,0.5);
    display:flex; justify-content:center; align-items:center; display:none; z-index:1000000;
}
.control>.info{
    font-size:24px; font-weight:bold; margin-bottom:14px; border-radius:10px;
    background:#eef; color:#46e; text-align:center; padding:6px 0;
}
.control>button{
    width:300px; height:60px; display:block; margin-bottom:20px; padding:10px 40px; font-size:18px; font-weight:bold;
    border:0 none; background:url("../images/button1.png") no-repeat center; background-size:contain;
    color:#fff; width:100%; box-sizing:border-box; 
}
.control>.resetbtn{background:url("../images/reset.png") no-repeat center; background-size:contain;}
.control>.resetbtn:active{background:url("../images/reset2.png") no-repeat center; background-size:contain;}
.control>.btn:active{background:url("../images/button2.png") no-repeat center; background-size:contain;}